<form method="POST" action="/testData">
  <div class="form-group">
    <label for="exampleName">Enter Name</label>
    <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Enter name">
    <small id="nameHelp" class="form-text text-muted">Enter your name to the form field</small>
  </div>
  <div class="form-group">
    <label for="examplePhoneNumber">Enter Phone Number</label>
    <input name="number" type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter Phone Number">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
    <div class="form-group">
    <label for="exampleAddress">Enter address</label>
    <input name="address" type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter Address">
  </div>
    <div class="form-group">
    <label for="exampleOccupation">Enter Occupation</label>
    <input name="job" type="test" class="form-control" id="exampleInputEmail1"  placeholder="Enter Occupation">
  </div>
<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select name="selection" class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-check">
    <input name="shipped" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>