<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!--method="POST" action="/testData"-->

<form method="POST" action="/testData">

    <div class="form-group">
        <label for="exampleFormControlSelect1">Square select</label>
        <select name="selection" class="form-control" id="exampleFormControlSelect1">
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>10</option>
        <option>20</option>
        </select>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
</form>

